
.appRegister{
    background-image: url("../LoginPage/login.svg");
    background-size:cover;
    background-position: center;
    height:100vh;
    width:100vw;
    min-height: 100%;
    position:relative;

}

@media (max-width: 1270px) {

    .appRegister {
        background-image: none;
}
   
#root > div:nth-child(2) > div > div{
  margin-left: 8%;
  padding-bottom:12%
}


}



#root > div > div > div{
    height:99%
}

