.app{
    background-image: url("./login.svg");
    background-size:cover;
    background-position: center;
    height:100vh;
    width:100vw;
    min-height: 100%;
    position:relative;

}

@media (max-width: 1000px) {

    .app {
  background-image: none;
}

}