.uploadForm{
    background-image: url("./uploadpage.svg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height:'100vh';
    position:relative;
    box-sizing: border-box;
    padding-bottom:100px;
    padding-top:100px;

}

