html, body {
    margin: 0;
    height: 100%;
    width: 100%;

}
/*nav.menu{display: none;}*/
.title {
    margin: 20px auto 0;
    text-align: center;
}
.links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.links .link {
    margin-top: 20px;
}

.component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.main-text1{
    font-size:3rem;
    margin-top:20px;
    margin-left:20px;
}

.component.first-component {
    position: relative;
}

.first-component--inside-scroller {
    position: absolute;
    right: 20px;
    top: 100px;
}
.component.second-component {
    background-image: url('./secondComponent.svg');
    background-size: contain;
    background-repeat:no-repeat;
    
    
}
.component.third-component {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a{
    color:white;
}

.main_text{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color:black;

}


.component.second-component {
    background-image: url('./secondComponent.svg');
    background-size: contain;
    background-repeat:no-repeat;
    background-color: #F4BF04;
}

.con-wrap{
    display: flex;
    flex-direction: row;
    word-break: break-word;
}



.container {
    background: #406AFF;
    box-shadow: 5px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 282px;
    height: 240px;
    margin-right: 30px;
    color:white;
    font-size: 20px;
    text-align: center;
    padding:10px 20px;
    font-weight: 100;

}

.btn_third{
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-style: none;
    border-radius: 10px;
    background-color: #406AFF;
    font-weight: 800;
    padding: 10px 20px;
    transition: 1s ease;

}
.btn_third:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1s ease;
    background-color: #3457d1;
}

h2 {
    margin: auto;
    text-align: center;
}

.demo-page-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.demo-page-contain__hint {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
        margin-right: 5px;
    }
}

a:hover{
    color:white;
}


@media (max-width: 1110px) {

    .font-link-two {
        visibility: hidden;
    }

    .main_text{
        font-size: 30px;
    }

    .btn_third{
        position: absolute;
    }
    
    .component{
        padding:0px;
        margin-left:-35px;
        overflow:auto !important;
    }
    .ant-form ant-form-horizontal RegisterStyle{
     padding-bottom: 10px;
    }
}
